body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    margin-top: 5vh;
    height: 4vh;
    width: 76vw;
    padding: 1vh 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlinks{
    display: flex;
    gap: 3vw;
}
#navlinks a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: larger;
}

#icons {
    display: flex;
    gap: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.banner{
    margin-top: 5vh;;
    padding: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 80vw;
    height: 60vh;
    border-radius: 3vw;
}
/* box{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 30%;
} */

.bannertxt{
    margin: 10vh;
    /* width: 70%; */
    color: white;
    font-size: 45px;
    
    /* -webkit-text-stroke: 1px black; */
    
}
.banner1{
    background-image: url(pictures/deers.jpg);
    background-position: center;
    display: flex;
    /* justify-content: center; */
}

.bannerlinks{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    /* align-items: end; */
    gap: 5vw;
}
.bannerlinks a{

    color: rgb(255, 255, 255);
    font-size: large;
    text-decoration: none;
}
details[open] summary {
    display: none;
  }
  .cards{
    margin-top: 10vh;
    display: flex;
    gap: 10vw;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    

  }
  .card{
    padding: 20px;
    width: 34vw;
    background-color: rgba(255, 224, 84, 0.6);
    border: solid black 2px;
    border-radius: 20px;
    text-align: center;
  }
.blogs{
    margin: 3vw;
    display: flex;
    gap: 2vw;
  }
.blog{
    margin: 0;
    padding: 0;
    display: flex;
    width: fit-content;
    
}
.blgtxt{
    width: 25vw;
    padding-left: 3vw;
    text-align: left;
    font-size: large;
}
.stories{
    margin-top: 0;
  }
.story{
    display: inline-grid;
    grid-template-columns: auto auto;
    width: fit-content;
}
.strtxt{
    width: 40vw;
    padding-left: 3vw;
    text-align: left;
    font-size: large;
}

  /*For Computer Screen*/
  @media (min-width: 1024px) {
 #threeline{
    display: none;;
 }
}

/* for tablet screen */
  @media (min-width: 600px) and (max-width: 1023px) {
    #threeline{
        display: none;
    }
}


/* for mobile screen */
@media (max-width: 599px) {
    nav{
        margin-top: 2vh;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navlinks{
        display: none;
    }
    .banner{
        margin: 5vw;
        height: 30vh;
        width: 50vw;
    }
    .bannertxt{
        margin: 0;
        font-size: 25px;
    }
    .cards{
        /* display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
        margin-right: 1vw; */
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .card{
        width: 100%;
        height: 25vh;
        
    }
    .cardtext{
        font-size: 15px;
        text-align: left;
    }
}