*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;

}
#header{
    height: 15vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    
}
#fakeheader{
    height: 15vh;
    width: 100vw;
    
} 
#image{
    width: 100px;
    height: 70%;
    object-fit: cover;
}
#image img{
    height: 100%;
    width: 100%;
}
.text{
    color: rgb(7, 7, 95);
}
.text:hover{
    color: rgb(56, 144, 174);
}
#contact h4:hover{
  color: rgb(56, 144, 174);

}
.icons{
    
    border-radius: 50px;
    padding: 7px;
}
.icons:hover{
    background-color:cornflowerblue;
}
#login{
    
     border-radius: 50px;
     padding: 10px;

}
#login:hover{
    background-color:cornflowerblue ;
}
#tryforfree{
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    border-radius: 5px;
}
#tryforfree:hover{
    background-color: darkgreen;

}
#page1{
    height: 85vh;
    width: 100vw;
    background-color:white
}
#strip{
    height: 7vh;
    background-color: rgb(3, 3, 107);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
#strip u:hover{
    
    text-decoration: none;

}
#content{
    height: 68vh;
    width: 100vw;
    background-color: white;
    display: flex;
    
}
#box1{
    height: 90%;
    width:50%;
   
    margin: 10px;
    margin-top: 20px;
    
}
#box1 p{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 150px;
    font-size: 400%;
    color: rgb(3, 3, 107);
}
#buttons{
    display:flex;
    padding: 20px;
    

    
}
#button1{
    background-color: rgb(69, 115, 240);
    color: white;
    font-size: larger;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;

}
#button1:hover{
    background-color: rgb(3, 3, 107);;
    

}
#button2{
    background-color:white;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(69, 115, 240);
     color: rgb(69, 115, 240);
     font-size: larger;
}
#button2:hover{
    background-color:rgb(208, 195, 195);
    color: rgb(3, 3, 107);
    border-color: rgb(3, 3, 107);
    
}
#box2{
    height: 90%;
    width: 50%;
    background-color: white;
    
    margin: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
   
}


#video{
   
height: 70%;
width: 80%;
background-color:white;
border-radius: 8px;
border-style: solid;
border-color: rgb(3, 3, 107);
}
#video iframe{
    height: 100%;
    width: 100%;
}
#footer{
    display: flex;
  
    height: 5vh;
    
    justify-content: center;
    color: rgb(5, 5, 78);
    font-size: larger;
}
#footer h1{
    
    margin-top: 20px;
}

