h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

/* for writing comment */
#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*body {
  background-color: orangered;
}*/

/*.first-li {
  font-weight: bold;
}*/

li:first-child {
  /*pseudo class*/
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*li:nth-child(odd) {
  color: red;
}*/

/*Misconception:This won't work!*/
article p:first-child {
  color: red;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /*color: #777;*/
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline /*dotted*/ orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/*Remenber the order of styling (LVHA)*/
